<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <title>Login</title>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link th:href="@{/dist/lib/css/bootstrap/bootstrap.min.css}" rel="stylesheet">
    <link rel="stylesheet" th:href="@{dist/lib/css/index.css}" type="text/css"/>
</head>
<body>
<div class="container">
    <div class="box">
        <img class="avatar" th:src="@{/dist/lib/images/Avatar.png}">
        <h1>Login</h1>
        <form id="login">
            <p>Username ( Email )</p>
            <input id="email" type="text" required/>
            <p>Password</p>
            <input id="password" type="password" required/>
            <input type="submit" value="Login"/>
            <a onclick="openRegistrationWindow()" id="btnRegister">Create New Account</a>
            <br><a href="#">Forget Password?</a><br>
        </form>
    </div>
</div>
<script th:src="@{/dist/lib/jquery/jquery.min.js}"></script>
<script th:src="@{/dist/lib/js/sweetalert.js}"></script>
<script th:src="@{/dist/lib/controllers/baseURL.js}"></script>
<script th:src="@{/dist/lib/controllers/login-controller.js}"></script>
<script th:src="@{/dist/lib/js/bootstrap.bundle.min.js}"></script>
</body>
</html>