<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Register Account</title>
    <link th:href="@{/dist/lib/css/bootstrap/bootstrap.min.css}" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/dist/lib/css/registration.css}" type="text/css"/>

</head>
<body>
<div class="container">
    <div class="regbox col-10">
        <h1>Register User</h1>
        <form id="registration">
            <p>First Name</p>
            <input id="fName" required type="text"/>
            <p>Last Name</p>
            <input id="lName" required type="text"/>
            <p>Email</p>
            <input id="email" required type="text"/>
            <p>Password</p>
            <input id="password" required type="password"/>
            <p>Confirm Password</p>
            <input id="confirmPassword" required type="password"/>
            <input type="submit" value="Register"/>
            <a style="color: #0a53be" onclick="openLoginWindow()">Already have Account?</a>
        </form>
    </div>
</div>
<script th:src="@{/dist/lib/js/sweetalert.js}"></script>
<script th:src="@{/dist/lib/jquery/jquery.min.js}"></script>
<script th:src="@{/dist/lib/controllers/baseURL.js}"></script>
<script th:src="@{/dist/lib/controllers/registration-controller.js}"></script>
<script th:src="@{/dist/lib/js/bootstrap.bundle.min.js}"></script>
</body>
</html>
