<!DOCTYPE html>
<html>
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <title>Register Account</title>
    <link rel="stylesheet" th:href="@{/dist/lib/css/registration.css}" type="text/css"/>

</head>
<body>
<div class="container">
    <div class="regbox box">
        <img class="avatar" th:src="@{/dist/lib/images/RegisterIcon.png}">
        <h1>Register Account</h1>
        <form>
            <p>Username</p>
            <input name="name" required type="text"/>
            <p>Useremail</p>
            <input name="email" required type="text"/>
            <p>Password</p>
            <input name="password" placeholder="Password" required type="password"/>
            <input type="submit" value="Register"/>
            <a onclick="openLoginWindow()">Already have Account?</a>
        </form>
    </div>
</div>
<script th:src="@{/dist/lib/controllers/registration-controller.js}"></script>
</body>
</html>
